@model ProjeFinal.Models.Category
@{
    ViewBag.Title = "DeletePage";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}
<html>
<head>
    <link href="~/Areas/ManagerPanel/Data/Styles/IndexStyle.css" rel="stylesheet" />
    <title></title>
</head>
<body style="background: linear-gradient(to bottom, Black,rgb(15,15,15),rgb(15,15,15),rgb(15,15,15),Black); background-repeat: no-repeat; ">
    <div class="PagePlace">
        <div class="ProductPlace">
            @using (Html.BeginForm("DeletePage", "CategoryForManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ID);




                <div class="left">


                    <div class="row">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "LabelStyle" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                    <div class="row">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "LabelStyle" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>



                </div>
                <div class="right" style="margin-top:50px;">

                    <div class="row">
                        <input type="submit" value="Kategoriyi Sil" class="AddBtn" />
                    </div>
                    <div class="row CheckBox">
                        @Html.EditorFor(model => model.IsActive) Aktif Marka
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div style="clear:both"></div>
                if (ViewBag.error != null)
                {
                    <div>
                        <h2 style=" color: red"> @ViewBag.error</h2>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>

