@model List<object>
@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
   
    <link href="~/Content/MainPageStylee.css" rel="stylesheet" />
    <title></title>
</head>
<body style="background: linear-gradient(to bottom, Black, #1A1A1A,#1A1A1A,Black,Black); ">


        
    <div class="TableParent" style="margin:auto auto;width:995px;">
        <div class="TableTop">

        </div>
        @for (int i = 0; i < Model.Count; i++)
        {
            object item = Model[i];
            List<ProjeFinal.Models.SCart> scarts = ViewBag.ShoppingCarts as List<ProjeFinal.Models.SCart>;
            if ((bool)item.GetType().GetProperty("IsActived").GetValue(item))
            {
                int IDForView = (int)item.GetType().GetProperty("ID").GetValue(item);

                decimal ProductQunatityxPrice = scarts[i].Quantity * scarts[i].price;


                string TypeForItem = item.GetType().Name.Split('_')[0] ;
                <table class="Table">
                    <tr>

                        <th width="90">Ürün resmi</th>

                        <th width="50">
                            Ürün ismi
                        </th>
                        <th width="50">
                            Miktar
                        </th>
                        <th width="50">
                            Ürün birim fiyatı
                        </th>
                        <th width="50">
                            Ürün Toplam fiyatı
                        </th>


                        <th @*style="border-top: none; border-right:none"*@>Seçenekler</th>

                    </tr>
                    <tr>

                        <td> <img src="~/MyDataForFinalProject/Photos/@item.GetType().GetProperty("imgs").GetValue(item)" /></td>
                        <td  width="50">
                            @item.GetType().GetProperty("Name").GetValue(item)
                        </td>

                        <td  width="50">
                            <a href="@Url.Action("ChangeQuantity", "SCart", new { Pid = IDForView, up = false ,typ = TypeForItem})" style="text-decoration:none">-</a>
                            <input type="text" value="@scarts[i].Quantity" readonly style="width: 36px; height:28px; text-align: center;" />
                            <a href="@Url.Action("ChangeQuantity", "SCart", new { Pid = IDForView, up = true, typ = TypeForItem })" style="text-decoration:none">+</a>
                        </td>

                        <td  width="50">
                            @scarts[i].price
                        </td>

                        <td  width="50">

                            @ProductQunatityxPrice
                        </td>

                        <td width="250">
                            <a href="@Url.Action("Detail",TypeForItem,new {id=IDForView})" class="Edita">Ürün</a>
                            <a href="@Url.Action("Delete","SCart",new { id = scarts[i].ID})" class="Deletea">Sil</a>
                        </td>
                    </tr>


                </table>

                <div style="clear:both"> </div>
            }
        }
        <div class="TableBottom">
            @{
                decimal totalPrice = 0;
                List<ProjeFinal.Models.SCart> scarts1 = ViewBag.ShoppingCarts as List<ProjeFinal.Models.SCart>;
                foreach (var item in scarts1)
                {
                    totalPrice += item.Quantity * item.price;
                }
            }
            <div class="TotalPrice">
                <span style="font-size:18px;"> Toplam;  @totalPrice $</span>
            </div>
       
        </div>

    </div>
  
         
            <div style="clear:both"> </div>
            <div class="ContentParent">
                <div class="content">
                    <div class="footer">
                        © 2025 E/H'nin Tüm Hakları Saklıdır.(İade kabul etmiyoruz Anlayışsızlığınız için teşekkürler)
                    </div>
                    <div class="footer">
                        İletişim 0534 448 21 08(sonu salladım)
                    </div>
                </div>
            </div>
            <div class="wrapper">

                <div class="wpimg">
                    <img src="~/MyDataForFinalProject/1255781-3840x1200-desktop-dual-screen-nvidia-background-image.jpg" />
                </div>

            </div>

</body>
</html>

